<% content_for :title do %>Code for Europe Scotland Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="carparks" data-view="List" data-unordered="true" data-title="Carparks" data-moreinfo="# of spaces"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="facilities" data-view="List" data-unordered="true" data-title="Facilities" data-moreinfo="# of each type"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="sports_venues" data-view="List" data-unordered="true" data-title="Sports Venues" data-moreinfo="# of classes"></div>
    </li>

  </ul>

</div>
