<% content_for :title do %>Edinburgh City Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Welcome" data-text="This is your new city dashboard." data-moreinfo="Protip: Talk to Alan, Andrew or David to add your own widget!"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="graph" data-view="Graph" data-title="Sample graph" style="background-color:#ff9618"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="weather" data-view="Text" data-title="Weather" data-text="This will show the weather" data-moreinfo="Please check with the Met Office for more info" style="background-color:cadetblue"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="rss-news" data-view="Text" data-title="BBC News Scotland" data-text="Here is some news" data-moreinfo="BBC Scotland News RSS Feed" style="background-color:blueviolet"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="collisions" data-view="Text" data-title="Collision data" data-text="The collision data will go here" data-moreinfo="CKAN" style="background-color:brown"></div>
    </li>

  </ul>
</div>
